@font-face{
	font-family: 'MyFont';
	src: url('./ziti1.ttf'),
		url('./ziti2.ttf');
	font-weight: 600;
	font-style: normal;
}

.hello{
	font-family: 'MyFont';
	color: red;
	background: url('./icon.png') no-repeat;
}